.card {
  transition: all 0.4ms;
}

.card:hover {
  transform: scale(1.1);
}

.slider {
  width: 100vw;
  height: auto;
  margin: auto;
  overflow: hidden;
}

.slider .slide-track {
  display: flex;
  animation: scroll 40s linear infinite;
  width: calc(380px * 20);

}
.slider:hover .slide-track{
  animation-play-state: paused;
  
  
}


.slider .slide {
  width: 380px;
}

.slide .slide img {
  width: 100%;
}

.slide .slide img:hover {
  transform: scale(1.1);

}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-380px * 10));
  }
}
