.card {
  transition: all 0.4ms;
} 

.card:hover {
  transform: scale(1.1);
}

.slider {
  width: 100vw;
  height: auto;
  margin: auto;
  overflow: hidden;
}

.slider .slide-track{
  display: flex;
  animation: scroll 10s linear infinite;
  -webkit-animation: scroll 20s linear infinite;
  width: calc(380px * 14);
  
}

.slider .slide {
  width: 380px;

}

.slide .slide img{
  
  width: 100%;
}

.slide .slide img:hover {transform: scale(1.1);}

@keyframes scroll{
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(calc(-380px * 7));
    transform: translateX(calc(-400px * 7));
  }
}

